%illustrated-button {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;

  --border-color: #ddd;

  color: #666;
  font-weight: 500;

  transition: color 150ms;

  &:hover {
    color: #000;
  }
}


.aside {
  &-root {
    display: grid;
    grid-template-rows: auto 1fr auto;

    background-color: #f7f6f3;
    border-right: 1px solid #eee;
    box-shadow: 2px 0 6px #0001;

    overflow-x: hidden;
  }

  &-header {
    display: grid;
    grid-template-columns: auto 1fr;

    border-bottom: 1px solid #ddd;
  }

  &-title {
    padding: 1rem 1.4rem;
    font-weight: 600;
  }

  &-back {
    @extend %illustrated-button;

    padding: 1rem;
    border-right: 1px solid var(--border-color);

    span {
      max-width: 120px;
      overflow-x: hidden;

      transition: max-width 200ms, margin-right 200ms, opacity 200ms;
    }

    &:not(:hover) {
      span {
        max-width: 0;
        margin-right: -0.8rem;

        opacity: 0;
      }
    }
  }

  &-tree {
    padding: 1.2rem 1rem 1.2rem 0.6rem;
    overflow-y: auto;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
    }

    ul ul {
      padding-left: 1.2rem;
    }

    li._active a {
      background-color: #0001;
    }

    li > :first-child {
      padding: 0.4rem 0.6rem;

      overflow-y: hidden;
      text-overflow: ellipsis;

      &:not(a) {
        display: flex;
        align-items: center;
        column-gap: 0.6rem;

        font-weight: 500;

        &::before, &::after {
          content: "";
          height: 1px;
          margin-top: 1px;
        }

        &::before {
          width: 0.6rem;
          background-color: #333;
        }

        &::after {
          background-image: linear-gradient(to left, transparent 0%, #999 2rem, #333 100%);
          flex-grow: 1;
        }
      }
    }

    a {
      max-width: max-content;
      border-radius: 4px;

      transition: background-color 150ms;

      &:hover {
        background-color: #0000000a;
      }
    }
  }

  &-preferences {
    @extend %illustrated-button;

    padding: 1rem 1.4rem;
    border-top: 1px solid var(--border-color);
  }
}
