@use "./mixins";


$font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;


.display-root {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 1rem 4rem;
}

.display-loading, .display-error {
  margin: auto;

  font-weight: 500;
}

.display-loading {
  @extend %spinner-right;
  color: #333;
}

.display-error {
  max-width: 400px;

  color: #ff4136;
  text-align: center;
}


.display-root main {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;

  font-size: 16px;
  line-height: 1.6;

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.6em 0;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    color: #666;
    font-size: 1.2em;
  }

  h5 {
    color: #666;
    font-size: 1.1em;
  }

  h6 {
    color: #999;
    font-size: 1.1em;
  }

  hr {
    margin: 1em 0;
    border-bottom: 2px solid #ddd;
  }


  p {
    margin: 1em 0;
    text-align: justify;
  }

  li p {
    margin: 0.6em 0;
  }

  a {
    display: inline;
    color: #0074d9;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 600;
  }

  blockquote {
    margin: 1em 0;
    padding: 0.6em 0 0.6em 1em;

    border-left: 4px solid #ddd;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }


  ol, ul {
    margin: 1em 0;
    padding-left: 2em;

    ol, ul {
      margin: 0.4em 0;
    }
  }

  li {
    display: list-item;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  li + li {
    margin-top: 0.2em;
  }


  pre {
    margin: 1em 0;
    padding: 1em 1.6em;

    background-color: #eee;
    border-radius: 4px;

    position: relative;
    overflow-x: auto;
  }

  code {
    font-family: $font-mono;
    font-size: 0.85em;
  }

  :not(pre) > code {
    padding: 0.2em 0.4em;

    background-color: rgba(110, 118, 129, 0.1);
    border-radius: 4px;
  }

  code[data-language] {
    &::after {
      content: attr(data-language);

      position: absolute;
      right: 4em;
      top: 0;

      padding: 0 0.6em;

      background-color: #ccc;
      border-radius: 0 0 2px 2px;
    }
  }


  table {
    margin: 2em 0;
    border-collapse: collapse;
  }

  th {
    font-weight: 600;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 0.4em 0.8em;
  }

  tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
}
