@use "./mixins" as *;


$brand-color: #85144b;


.home {
  &-root {
    display: flex;
    height: 100%;
  }

  &-center {
    display: grid;
    align-items: center;
    column-gap: 4rem;

    margin: auto;
  }

  &-root--split &-center {
    grid-template-columns: 1fr 1fr;
  }

  &-left {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    row-gap: 1rem;

    p {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &-root--split &-left {
    justify-items: start;
  }

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  &-root--split &-content {
    align-items: stretch;
    width: 100%;
  }


  &-buttons {
    display: flex;
    column-gap: 0.6rem;
  }

  &-root--split &-buttons {
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 1fr 1fr;
  }

  &-button {
    --background: #0074d9;

    width: auto;
    padding: 0.6rem 1.4rem;

    background-color: var(--background);
    background-image: linear-gradient(-45deg, #0002, #0000);
    border-radius: 5px;

    color: #fff;
    font-weight: 500;

    transition: box-shadow 150ms;

    &:hover {
      box-shadow: 2px 2px 6px #0002;
    }

    &:focus-visible {
      outline: 2px solid var(--background);
      outline-offset: 1px;
    }

    &--github {
      --background: #000;

      display: flex;
      align-items: center;
      column-gap: 0.6rem;

      svg {
        width: 18px;
      }
    }
  }

  &-root--split &-button {
    justify-content: center;
    text-align: center;

    &--github {
      grid-column: 1 / -1;
    }
  }


  &-brand {
    &-root {
      display: flex;
      align-items: center;
      column-gap: 0.8rem;
    }

    &-logo {
      color: $brand-color;

      svg {
        width: 24px;
      }
    }

    &-title {
      color: $brand-color;

      font-size: 1.2rem;
      font-weight: 600;

      user-select: none;
    }
  }
}




.recent {
  &-root {
    width: 400px;
    margin-top: 1rem;
  }

  &-input {
    padding: 0.4rem 1.2rem;

    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
      border-color: #bbb;
      box-shadow: inset 3px 3px 3px #00000008;
    }

    &::placeholder {
      color: #ccc;
    }
  }

  &-filters {
    display: flex;
    column-gap: 0.4rem;

    margin: 0.4rem 0;
  }

  &-filter {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    width: auto;

    padding: 0.2rem 0.4rem;

    background-color: #fafafa;
    border-radius: 4px;

    color: #999;

    &:hover {
      background-color: #eee;
      color: #000;
    }

    &._selected {
      background-color: #333;
      color: #fff;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;

    max-height: 300px;
    margin: 1rem 0;

    overflow-y: auto;
  }

  &-entry {
    &-root {
      display: grid;
      grid-template-columns: 1fr auto;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }

    &-button {
      display: grid;
      gap: 0 0.8rem;
      grid-template: auto auto / auto 1fr;

      padding: 0.8rem 1.2rem 0.8rem 1rem;

      &:hover {
        &, + * {
          background-color: #fafafa;
        }
      }
    }

    &-icon {
      // grid-row: 1 / -1;
      align-self: end;
    }

    &-title {
      @include text-ellipsis();
      font-weight: 500;
    }

    &-subtitle {
      color: #999;
      grid-column: 2;
    }


    &-actions {
      display: flex;
      align-items: center;

      padding-right: 1rem;
    }

    &-remove {
      padding: 0.2rem;
      border-radius: 4px;

      color: #ccc;

      &:hover {
        background-color: #eee;
        color: #999;
      }
    }
  }
}
