@use "../node_modules/highlight.js/styles/github.css";

@use "./reset";
@use "./aside";
@use "./display";
@use "./home";
@use "./misc";


$font-serif: ui-sans-serif, system-ui, -apple-system, sans-serif;


html {
  height: 100%;

  font-family: $font-serif;
  font-size: 14px;
  line-height: 1.4;
}

body, #root {
  height: 100%;
}


.window-root {
  display: grid;
  grid-template-columns: 300px 1fr;
  // grid-template-rows: 1fr;

  height: 100%;
}


$icon-size: 18px;

.icon {
  width: $icon-size;
  height: $icon-size;

  stroke: none;
  fill: currentColor;
}
